<header class="header-container">
  <div class="left-header">
    <a href="/">
      <h1>🎭 Playwright Reports</h1>
    </a>
    <button id="toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
  </div>
  <div class="right-header">
    <% if (user && user.roles.includes('user')) { %>
    <a class="nav-link" href="/">Reports</a>
    <% } %>
    <% if (user && user.roles.includes('admin')) { %>
    <a class="nav-link" href="/register">Add User</a>
    <% } %>
    <button class="logout-button" type="button" id="logout">Log out</button>
  </div>
</header>