<header class="header-container">
  <div class="left-header">
    <a href="/">
      <h1>🎭 Playwright Reports</h1>
    </a>
  </div>
  <div class="right-header">
    <% if (user && user.roles.includes('user')) { %>
    <a class="nav-link" href="/">Reports</a>
    <% } %>
    <% if (user && user.roles.includes('admin')) { %>
    <a class="nav-link" href="/register">Add User</a>
    <% } %>
    <button class="logout-button" type="button" id="logout">Log out</button>
  </div>
</header>