main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
}

.form-group input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-fg-default);
  vertical-align: middle;
  background-color: var(--color-canvas-default);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--color-primer-shadow-inset);
}

.form-group input:required:invalid {
  border-left: 1px solid var(--color-checks-ansi-red);
}

.register-button {
  border: 0;
  background: #f7941d;
  color: #ffffff;
  padding: 7.5px 15px;
  border-radius: 3px;
  max-width: max-content;
  margin-top: 0.5rem;
}

.error {
  color: var(--color-checks-ansi-red);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.success {
  color: var(--color-checks-ansi-green);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}