/** CSS Reset */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* End CSS Reset */

html,
body {
  overflow: auto;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-fg-default);
  font-size: 14px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  padding: 0 24px;
  margin-bottom: 24px;
}

/* header classes */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.left-header,
.right-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid var(--color-border-default);
}

.nav-link:hover {
  background-color: var(--color-canvas-subtle);
}

.logout-button {
  border: 0;
  background: #f7941d;
  color: #ffffff;
  padding: 7.5px 15px;
  border-radius: 3px;
  max-width: max-content;
}