<!DOCTYPE html>
<html>

<%- include('../partials/_head', { title: title, styles: styles ?? [] }) %>

<body>

  <%- include('../partials/_header') %>

  <main>
    <div>
      <h2>We couldn't find that page.</h2>
      <p>Sorry, the page you are looking for does not exist or may have been moved.</p>
    </div>
  </main>
</body>

</html>