<!DOCTYPE html>
<html>

<%- include('../partials/_head', { title: title }) %>

<body>
  <main>
    <h1>Oops! Something went wrong.</h1>
    <p>We're sorry, we've encountered an unexpected error. Please try again later.</p>
  </main>
</body>

</html>