<!DOCTYPE html>
<html>

<%- include('../partials/_head', { title: locals.title, styles: locals.styles, scripts: locals.scripts }) %>

<body>

  <%- include('../partials/_header') %>

  <main>
    <div>
      <h2>Oops! Something went wrong.</h2>
      <p>We're sorry, we've encountered an unexpected error. Please try again later.</p>
    </div>
  </main>
</body>

</html>